.philosophy-card {
    border: 2px solid var(--verde-marca-escuro);
    border-radius: 5%;
    padding: 2rem 1rem;
    min-height: 20rem;
    width: calc(33% - 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(232, 232, 232, 0.85), rgba(232, 232, 232, 0.85)), url('../../assets/img/background-texture-edit.jpg');
}

.philosophy-card svg,
.philosophy-card h4 {
    margin-bottom: 1rem;
}

.philosophy-card svg {
    font-size: 5rem;
}

.philosophy-card h4 {
    font-size: 2rem;
}

.philosophy-card p {
    text-align: justify;
    line-height: 1.25rem;
    padding: 0 1rem;
}

@media (max-width: 900px) {
    .philosophy-card {
        width: 100%;
    }

}